.git
.github
.env
.env.*
!.env.example
.cursor
.idea
.vscode
node_modules
vendor
blockchain/.env
blockchain/node_modules
blockchain/artifacts
blockchain/cache
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
Utilisateur
docs
